.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  list-style: none;
  background-color: rgb(202, 179, 101);
  max-width: 350px;
  margin: 0 auto;
  margin-top: 10px;
  border: 5px dashed red;
}
.item {
  padding: 5px;
  border-bottom: 3px dotted red;
}
.btn {
  margin-left: 5px;
  background: linear-gradient(to right, #ffd700, #ff8c00);
  border-radius: 6px;
  border-style: groove;
}
.btn:hover {
  background: linear-gradient(to left, #ffd700, #ff8c00);
  cursor: pointer;
}
